<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <title>OnTrack High Five</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 60px;
    }
  </style>


</head>
<body>

<h1>Hey there!</h1>

<font color="green"><h3>Looks like you're being awesome on OnTrack. <%= @sender.first_name.to_s %> noticed and is sending you a High Five!!! Well done.</h3></font>

<a href="http://ontrack.herokuapp.com"><h4>See how they're doing</h4></a>

</body>
</html>
