<div class="page-header">
  <h1>
    Goals
    <a href="/goals/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->




<div class="row isotope-container">
<div class="panel panel-success">
<div class="panel-heading"><h4>All my goals, ever</h4></div>
<ul class="list-group">

<% @goals.each do |goal| %>


          <% if goal.user_id.to_i == current_user.id.to_i %>


          <% if  goal.complete != true %>


          <li class="list-group-item">
         (Due <%= goal.duedate %>) <%= goal.goaloneliner %></h4>
          </li>


          <% end %>



          <% if  goal.complete == true %>


          <li class="list-group-item">
            (Due <%= goal.duedate %>) <s><%= goal.goaloneliner %></s>
          </li>


          <% end %>


          <% end %>


<% end %>
</div>
</div>
</ul>
